.incoming-request {
    background: #ffffff;
    color: #3f3f3f;
    border: #3f3f3f solid 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    text-align: left;
    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.incoming-request .incoming-request-row {
    width:100%;
    /* background: cyan; */
    margin-top: 10px;
}
.incoming-request .incoming-request-key {
    float:left;
    text-align: right;
    width: 100px;
    font-weight: bold;
    /* background: red; */
}
.incoming-request .incoming-request-value {
    word-wrap: break-word;
    float:left;
    width: calc(100% - 100px);
    /* background: pink; */
    
}

.incoming-request .incoming-request-value .incoming-request-submenu-key {
    max-width: 250px;
    /* background: green; */
    float: left;
    font-weight: bold;    
}
.incoming-request .incoming-request-value .incoming-request-submenu-value {
    max-width: calc(100% - 250px);
    /* background: blue; */
    float: left;
}
.incoming-request .incoming-request-value .incoming-request-cookie:not(:last-child) {
    margin-bottom: 5px;
}