.incoming-request-header {
  display: flex;
  flex-flow: row wrap;

  & > * {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    user-select: none;
  }

  .incoming-request-header-url {
    background: deepskyblue;
    word-break:break-all;
    align-items: center;
  }

  .incoming-request-header-method {
    background: gold;
    justify-content: center;
    align-items: center;
  }

  .incoming-request-header-timestamp {
    background: hotpink;
    justify-content: center;
    align-items: center;
  }

  .incoming-request-header-method { flex: 1 10%; }
  .incoming-request-header-url    { flex: 3 75% }
  .incoming-request-header-timestamp { flex: 1 15%; }

  .incoming-request-header-method { order: 1; }
  .incoming-request-header-url    { order: 2; }
  .incoming-request-header-timestamp { order: 3; }
}
