<!--The content below is only a placeholder and can be replaced.-->
<app-navigation></app-navigation>
<div >
  <h1>Principal: {{principal | json}}</h1>
  <h1 style="text-align:center">API Inspector</h1>

  <h2 style="text-align:center">An application that will assist you in debugging your http API requests.</h2>

  <h3>It is very easy to use. Just redirect your requests to the following url: "localhost:8080/incoming" and you will see a full description of all your request data and metadata.</h3>
  <h3>Feel free to add any aditional path after this URL. Also you can use any request method (GET, POST, PUT, ...) add any params, headers, cookies and body data.</h3>
  <h3>Soon we will also support uploading files.</h3>
  <h3>All the successful requests will get a response status 204 No Content.</h3>

  <router-outlet></router-outlet>

</div>
