<div class="animated fadeIn">
  <div class="row">

    <div class="col-md-12">
      <div class="card text-white bg-primary text-center">
        <div class="card-body">
            Incoming requests should begin with: <mark>{{urlIdentifier}}</mark>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Captured requests</strong>
        </div>
        <div class="card-body">

          <request-list></request-list>

        </div>
      </div>
    </div>

  </div><!--/.row-->
</div>







